{% extends 'psyadmin/admin-index.html' %}
{% block content %}

<style>

  .error-message {
    color: red;
    font-size:12px;
  }

</style>


<div class="container" style="width:fit-content">
<form class="p-5" method="POST" action="" enctype="multipart/form-data"> 
  
  {% csrf_token %}
          
    <div class="form-group mt-2">
      {% comment %} {% for item in content  %} {% endcomment %}
      <label for="username">Name</label>
      <input value="" name="name" type="text" class="form-control" id="username" placeholder="Enter productname">
      <span class="error-message">{{error_message.name}}</span>
    </div>
    <div class="form-group mt-2">
      <label for="email">Price</label>
      <input value="" name="price" type="number" class="form-control" id="price" placeholder="Enter price">
      <span class="error-message">{{error_message.price}}</span></div>
    
    <div class="form-group mt-2">
      <label for="inputPassword">Quantity</label>
      <input  value=""  name="quantity" type="number" class="form-control"  placeholder="Enter Quantity">
      <span class="error-message">{{error_message.quantity}}</span>
    </div>
    <div class="form-group mt-2">
      <label for="inputPassword">Category</label>
      <select id="dropdown" name="category">
        {% for item in categoryobjs  %}
        {% if not item.isblocked %}
        <option value="{{item.name}}">{{item.name}}<br><br> </option>
        {% endif %}
        {% endfor %}
        <span class="error-message">{{error_message.category}}</span>
      </select> 

    </div>
 
    <div class="form-group mt-2">
        <label for="inputConfirmPassword">Description </label>
        <input value=""  name="description" type="text" class="form-control" id="inputConfirmPassword" placeholder="Description">
        <span class="error-message">{{error_message.description}}</span>
    </div>



    <div class="mb-3">
      <label for="image">Image </label>
      
      <input type="file" class="form-control" id="image" name="image" accept="image/*" multiple >
    </div>
    

    <button type="submit" class="btn btn-primary mt-4">Add Product</button>
   
  
  </div>
  </form>


  {% comment %} <script defer src="https://cdn.crop.guide/loader/l.js?c=ZXDVHR"></script> {% endcomment %}




{% endblock content %}