<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Psykicks Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="node_modules/jquery-bar-rating/dist/themes/css-stars.css">
  <link rel="stylesheet" href="node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'psyadmin/css/style.css'%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'psyadmin/images/favicon.png' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <style>

    {% block style%}

    {% endblock style %}

  </style>


</head>

<body style="background-color:white;">

  <div class="container-scroller m-0" >
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper " >
        <a class="navbar-brand brand-logo d-flex align-items-center justify-content-center" href="#" style="font-weight:bold" >PSYKICKS</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        
        <ul class="navbar-nav navbar-nav-right">
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-profile" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <img src="{% static 'psyadmin/images/admin.jpeg'%}" alt="image">
              <span class="d-none d-lg-inline" >PsyKicks Admin</span>
            </a>
           
          </li>
        
        </ul>
     
      </div>
    </nav>
    <!-- partial -->


<br><br>


  
    <nav class="sidebar sidebar-offcanvas" id="sidebar " style="width:220px">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href={% url 'admin_index' %}>
            <span class="menu-title">Dashboard</span>
            <span class="menu-sub-title">( 2 new updates )</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href={% url 'users' %} aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">Users</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
          </a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'products' %}>
            <span class="menu-title">Products</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'categories' %}>
            <span class="menu-title">Categories</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'orders' %}>
            <span class="menu-title">Orders</span>
            <i class="mdi mdi-chart-bar menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'coupon_management' %}>
            <span class="menu-title">Coupon</span>
            <i class="mdi mdi-table-large menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-title">Offers</span>
            <i class="menu-arrow">
              <a class="nav-link" href={% url 'productoffer' %}>
                <span class="menu-title">Product Offer</span>
                <i class="mdi mdi-table-large menu-icon"></i>
                <a class="nav-link" href={% url 'categoryoffer' %}>
                  <span class="menu-title">Category Offer</span>
                  <i class="mdi mdi-table-large menu-icon"></i>
              </i>
           
             
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="sidebar-progress">
        <p>Total Sales</p>
        <div class="progress progress-sm">
          <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>50 Items sold</p>
      </div>
      <div class="sidebar-progress">
        <p>Customer Target</p>
        <div class="progress progress-sm">
          <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>200 Items sold</p>
      </div>
      <div class="wrapper upgrade-button">
        <a href="https://www.bootstrapdash.com/product/purple-bootstrap-4-admin-template/" target="_blank" class="btn btn-lg btn-block purchase-button">Upgrade To Pro</a>
      </div>
    </nav> 

  </div>
  


        {% block content %}

        
    <div class="container" style="display:flex; flex-direction: column; justify-content:center; align-items:center;">
      <div class="d-flex  align-items-center">
        <div class="card " style="width: 15rem; ">
          <img class="card-img-top" src="{% static 'psyadmin/images/favicon.png'%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Demo Card</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> 
      <a href={% url 'admin_logout' %} class="flex-c-m p-lr-10 trans-04">
        <button class="btn btn-primary">LOGOUT</button>
      </a>
    
    </div>

  
    
        {% endblock content %}


        <!-- content-wrapper ends -->

        
        <!-- partial:partials/_footer.html -->
      <div class="container-fluid" style="margin-top:150px;" >
        <footer class="footer">
          <div class="d-md-flex justify-content-center ">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block" >Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>. All rights reserved.</span>
            
          </div>

        
        </footer>
      </div>
        <!-- partial -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  {% comment %} <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script> {% endcomment %}
  <!-- endinject -->
  <!-- Plugin js for this page-->
  {% comment %} <script src="node_modules/chart.js/dist/Chart.min.js"></script> {% endcomment %}
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'psyadmin/js/off-canvas.js'%}"></script>
  <script src="{% static 'psyadmin/js/misc.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'psyadmin/js/dashboard.js'%}"></script>
  <!-- End custom js for this page-->
</body>

</html>
