{% extends 'psyadmin/admin-index.html' %}
{% block content %}

<div class="container" style="width:fit-content; display:flex; ">
<form class="p-5" method="POST" action="" enctype="multipart/form-data"> 
 
  {% csrf_token %}
          
    <div class="form-group mt-2">
      {% comment %} {% for item in content  %} {% endcomment %}
      <label for="productname">Name</label>
      <input value="{{content.name}}" name="name" type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="form-group mt-2">
      <label for="email">Price</label>
      <input value="{{content.price}}" name="price" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder=" Price">
    </div>
    <div class="form-group mt-2">
      <label for="inputPassword">Quantity</label>
      <input  value="{{content.quantity}}"  name="quantity" type="text" class="form-control" id="inputPassword" placeholder="Quantity">
    </div>

    <div>
      <label>Images</label>
      <br>
      {% for i in image %}
          <img src="{{ i.url }}" alt="{{ content.name }}" width="100" height="100">
      {% endfor %}
  </div>


    <div class="form-group mt-2">

      <label for="inputPassword">Category</label>
      <select id="dropdown" name="category">
        {% for item in categoryobjs  %}
        <option value="{{item.name}}">{{item.name}}<br><br> </option>
        {% endfor %}
  
      </select> 


</div>



    <div class="form-group mt-2">
        <label for="inputConfirmPassword">Description </label>
        <input value="{{content.description}}"  name="description" type="text" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
      </div>
    <button type="submit" class="btn btn-primary mt-4">Update</button>
    <h5>{{successmsg}} {{error}}</h5>
    {% comment %} {% endfor %} {% endcomment %}
  
  </form> 
</div>

  <script defer src="https://cdn.crop.guide/loader/l.js?c=ZXDVHR"></script>
  



{% endblock content %}