{% extends 'psyadmin/admin-index.html' %}
{% load static %}

	
 {% block content %}

 <div class="mt-5"></div>
 <div class="mt-5"></div>
 <div class="mt-5"></div>

<div class="container" style="width:fit-content; position:relative; ">
	{% comment %} <div class="container mt-5" >
  		<div class="col-md-10">
    		<form action="" method="POST">
				{% csrf_token %}
			
		
        		<input type="text" name="searchitem" id="navbar-search-input" placeholder="Search user" aria-label="search" style=" font-size:15px; border-radius:2" >
				<button type="submit" class="btn btn-primary " style="padding: 6px 15px; height:28px" >Search</button>
		

    		</form>
		</div>
  	</div> {% endcomment %}
  
  <div class="container center">
    {% comment %} <div class="row justify-content-end">
      <a href="{% url 'addproducts' %}">
        <button class="btn add-product-btn btn-primary mt-2">Add Product</button>
      </a>
    </div> {% endcomment %}
    
	<div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Product</th>
            <th>Quantity</th>
    
            <th>Image</th>
            <th>Order status</th>
            <th>Action</th>
            {% comment %} <th>Delete</th> {% endcomment %}
          </tr>
        </thead>
        <tbody>
          {% for item in datas %}
            
          <tr>
            <td>{{ item.customer }}</td>
            <td>{{ item.cart.product }}</td>
            <td>{{ item.cart.quantity }}</td>
           
            <td>
              {% if item.images.all %}
                <img src="{{ item.images.first.image.url }}" alt="{{ item.name }}" width="100" height="100">
          
              {% endif %}
          </td>
          
          <td>{{ item.complete}}</td>
            <td>
              {% comment %} <a href={% url 'order_details'   %}> {% endcomment %}
                <button class="btn edit-btn btn-warning">Cancel Order</button>
              </a>
            </td>
            {% comment %} <td>
              <a href={% url 'deleteproducts' item.id  %}>
                <button class="btn edit-btn btn-danger">Delete</button>
              </a>
            </td> {% endcomment %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

  $(".delete-btn").click(function() {
    var someid = $(this).data("category-id");
    if (confirm("Are you sure you want to delete this product?")) {
        
        $.ajax({
            url: "/storeadmin/deleteproducts/" + someid + "/",
            type: "DELETE",
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(response) {
                alert(response.message);
                location.reload();
            },
            error: function(xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
});  
</script>

{% comment %} <div class="mt-5"></div>
<div class="mt-5"></div>
<div class="mt-5"></div>
<div class="mt-5"></div> {% endcomment %}



{% endblock content %}
	

   



