{% extends 'psyadmin/admin-index.html' %}
{% load static %}

	
 {% block content %}

 <div class="mt-5"></div>
 <div class="mt-5"></div>
 <div class="mt-5"></div>

<div class="container" style="width:fit-content; position:relative; ">
	{% comment %} <div class="container mt-5" >
  		<div class="col-md-10">
    		<form action="" method="POST">
				{% csrf_token %}
			
		
        		<input type="text" name="searchitem" id="navbar-search-input" placeholder="Search user" aria-label="search" style=" font-size:15px; border-radius:2" >
				<button type="submit" class="btn btn-primary " style="padding: 6px 15px; height:28px" >Search</button>
		

    		</form>
		</div>
  	</div> {% endcomment %}
  
  <div class="container center">
    {% comment %} <div class="row justify-content-end">
      <a href="{% url 'addproducts' %}">
        <button class="btn add-product-btn btn-primary mt-2">Add Product</button>
      </a>
    </div> {% endcomment %}
    
	<div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Product</th>
            <th>Quantity</th>
    
            <th>Image</th>
            <th>Order status</th>
            <th>Action</th>
            {% comment %} <th>Delete</th> {% endcomment %}
          </tr>
        </thead>
        <tbody>
          {% for item in datas %}
            
          <tr>
            <td>{{ item.customer }}</td>
            <td>{{ item.cart.product }}</td>
            <td>{{ item.cart.quantity }}</td>
           
            <td>
                {% if item.cart.product.images.all %}
            <img class="row-image" src="{{ item.cart.product.images.first.image.url }}" alt="Product Image">
          {% else %}
            <span>No Image Available</span>
          {% endif %}
          </td>
          
            <td>
        {% if item.complete %}
            <a href="#" class="btn btn-success btn-sm" onclick="updateOrderStatus('{{ item.id }}', false)">Complete</a>
        {% else %}
            <a href="#" class="btn btn-warning btn-sm" onclick="updateOrderStatus('{{ item.id }}', true)">Incomplete</a>
        {% endif %}
    </td>
            
            <td>
              <select name="" id="">
                <option value="">
                  canceled
                </option>
                <option value="">
                  ordered
                </option>
        


              </select>
             
          
          </td>
            

           
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
	

   



