{% extends 'psyadmin/admin-index.html' %}
{% load static %}

{% block content %}
<div class="mt-5"></div>
<div class="container" style="width:fit-content">
  <div class="row justify-content-end">
    <a href="{% url 'addnew_productoffer'  %}">
      <button class="btn add-category-btn btn-primary mt-2">Add New Offer</button>
    </a>
  </div>
  <hr>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Offer-code</th>
          <th>Product</th>
          <th>Discount-price</th>
          <th>Expiry status</th>
        </tr>
      </thead>
      <tbody>
        {% for item in offerobj %}
        <tr>
          <td class="py-1">{{ item.offercode }}</td>
          <td class="py-1">{{ item.product.name }}</td>
          <td class="py-1">{{ item.discount }}%</td>
          
          <td>
            {% if item.is_expired %}
            <a href="{% url 'productoffer_available' item.id %}" class="btn btn-success btn-sm">Expired</a>
            {% else %}
            <a href="{% url 'productoffer_is_expired' item.id %}" class="btn btn-warning btn-sm">Available</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="row mt-5"></div>
  <div class="row mt-5"></div>
  <div class="row mt-5"></div>
  <div class="row mt-5"></div>
  <div class="row mt-5"></div>
  <div class="row mt-5"></div>

  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">

        {% if offerobj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ offerobj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}

        {% for i in offerobj.paginator.page_range %}
          {% if i == offerobj.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if offerobj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ offerobj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ offerobj.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Last</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </nav>
  </div>

</div>
{% endblock content %}
