{% extends 'psyadmin/admin-index.html' %}
{% load static %}

	
 {% block content %}

<div class="container" style=" margin-right:100px ">
	<div class="container mt-5" >
  		<div class="col-md-10">
    		<form action="" method="POST">
				{% csrf_token %}
			
		
        		<input type="text" name="searchitem" id="navbar-search-input" placeholder="Search user" aria-label="search" style=" font-size:15px; border-radius:2" >
				<button type="submit" class="btn btn-primary " style="padding: 6px 15px; height:28px" >Search</button>
		

    		</form>
		
  
  <div class="container">
    <div class="row justify-content-end">
      <a href="{% url 'addproducts' %}">
        <button class="btn add-product-btn btn-primary mt-2">Add Product</button>
      </a>
    </div>

    <div class="mt-5"></div>


  </div>
</div>
    
	<div class="row" style="width:fit-content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Brand</th>
            {% comment %} <th>Color</th> {% endcomment %}
            {% comment %} <th>Size</th> {% endcomment %}
         
            <th>Category</th>
            {% comment %} <th>Description</th> {% endcomment %}
            {% comment %} <th>Image</th> {% endcomment %}
            <th>Edit</th>
            <th>Delete</th>
            <th>More Details</th>
          </tr>
        </thead>
        <tbody>
          {% for item in datas %}
          {% if not item.category.isblocked %}
            
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.brand.name }}</td>
            {% comment %} <td>
              {% for color in item.color.all %}
                {{ color.name }}
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td>
              {% for size in item.size.all %}
                {{ size.name }}
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td> {% endcomment %}
            
            <td>{{ item.category.name }}</td>
            {% comment %} <td>{{ item.description }}</td> {% endcomment %}
            {% comment %} <td>
              {% if item.images.all %}
                <img src="{{ item.images.first.image.url }}" alt="{{ item.name }}" width="100" height="100">
          
              {% endif %}
          </td> {% endcomment %}
            <td>
              <a href={% url 'editproducts' item.id  %}>
                <button class="btn edit-btn btn-warning p-2">Edit</button>
              </a>
            </td>
            <td>
              <a href="{% url 'deleteproducts' item.id %}" onclick="return confirmDelete();">
                <button class="btn edit-btn btn-danger p-2">Delete</button>
              </a>
            </td>
            <td>
              <a href="{% url 'productvariant' item.id %}" >
                <button class="btn edit-btn btn-info p-2">Show Product Variants</button>
              </a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

  $(".delete-btn").click(function() {
    var someid = $(this).data("category-id");
    if (confirm("Are you sure you want to delete this product?")) {
        
        $.ajax({
            url: "/storeadmin/deleteproducts/" + someid + "/",
            type: "DELETE",
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(response) {
                alert(response.message);
                location.reload();
            },
            error: function(xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
});  
</script>
<script>
  function confirmDelete() {
    return confirm('Are you sure you want to delete this product?');
  }
</script>


<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>



{% endblock content %}
	

   



