{% extends 'psyadmin/admin-index.html' %}
{% load static %}

	
 {% block content %}
 <div class="row mt-5"></div>
    <div style="margin-left: 250px; margin-right: 30px;">
      <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-warning text-white">
            <div class="card-body">
              <h4 class="font-weight-normal mb-3">Total Sales</h4>
              <h2 class="font-weight-normal mb-5">$ {{total_sales}}</h2>
              <p class="card-text">Incresed by 60%</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-info text-white">
            <div class="card-body">
              <h4 class="font-weight-normal mb-3">Total Orders</h4>
              <h2 class="font-weight-normal mb-5">{{total_orders}}</h2>
              <p class="card-text">Decreased by 10%</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-success text-white">
            <div class="card-body">
              <h4 class="font-weight-normal mb-3">Visitors Online</h4>
              <h2 class="font-weight-normal mb-5">{{total_users}}</h2>
              <p class="card-text">Increased by 5%</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>

<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <h4>
            Sales Overview
        </h4>
    </div>
    {% comment %} <div class="row  justify-content-center mt-5">
      <h4>
          Download Sales Report
      </h4>
  </div> {% endcomment %}

  <div class="row justify-content-center border mt-2  ">
      <form action="" method="POST">
        {% csrf_token %}
          <label class="mt-5" for="start_date">Start Date:</label>
          <input value="{{start_date}}" class="form-control" type="date" id="start_date" name="start_date" required>
          <br>
          <label for="end_date">End Date:</label>
          <input value="{{end_date}}" class="form-control" type="date" id="end_date" name="end_date" required>
          <br>
         
   
  
          <div class="row mb-5">
            <button name="show" type="submit" class="btn add-product-btn btn-primary mt-2">Show Report</button>
            <button name="download"  type="submit" class="btn add-product-btn btn-primary mt-2 ml-4 ">Download Report</button>
            {% comment %} <button name="downloadinexcel"  type="submit" class="btn add-product-btn btn-primary mt-2 ml-4 ">Download In Excel</button> {% endcomment %}
              
  
          </div>
          <div>
            

            

          </div>
    
          
      </form>

  </div>
  {% if orderobjs %}
    <div class="row" style="margin-left: 250px;">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Ordered By</th>
                <th>Payment Type</th>
                <th>Quantity</th>
                <th>Date</th>
                {% comment %} <th>Status</th> {% endcomment %}
                <th>Address</th>
                
            
              </tr>
            </thead>
            <tbody>
            {% for item in orderobjs %}
              
                    <tr>
                        <td>{{ item.variant.product.name }}</td>
                        <td>{{ item.order.total }}</td>
                       <td>{{ item.order.customer.name }}</td> 
                        <td>{{ item.order.payment_type }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.date_added }}</td>
                        {% comment %} <td>{{ item.order.order_status }}</td> {% endcomment %}
                        <td>{{ item.order.address }}</td>
                    </tr>
               
            {% endfor %}
            </tbody>
          </table>

    </div>
    
    
    {% endif %}
    {% if message %}
    <div class="text-center mt-4 text-danger">
      {{message}}


    </div>
    {% endif %}

<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

    
    <br><br><br><br>

    {% comment %} <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">

          {% if orderobjs.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">First</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ orderobjs.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          {% for i in orderobjs.paginator.page_range %}
            {% if i == orderobjs.number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if orderobjs.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ orderobjs.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ orderobjs.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Last</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </nav>
    </div> {% endcomment %}
</div>

{% endblock %}