{% extends 'myapp/index.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
<style>
    {% block style %}
    .cart {
       
        margin: 0 auto;
        text-align: center;
    }

    .cart img {
        max-width: 600px;
        height: auto;
    }
    {% endblock style %}
</style>
{% block content %}

<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

<div class="cart">
    <img src="{% static 'myapp/images/empty_cart.webp' %}" alt="Empty Cart">
    <p>Please <a href="{% url 'login' %}">login</a> to add your favourite products to Cart.</p>
</div>

<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

{% endblock %}
