{% extends 'myapp/userindex.html' %}
{% load static %}
{% block content %}

{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    {% block style %}
    
    .error-message {
        color: red;
        font-size:12px;
      }
    {% endblock style %}
    
</style>

<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-3"></div>
<a class="btn btn-outline-dark ml-3" href="{% url 'usercart' %}">&#x2190; Back to Cart</a>
<div class="row mt-5"></div>

<div class="row">
    <div class="col-lg-6">
       
        <div class="box-element" id="form-wrapper" style="margin-left:10px">
          
            <form id="form" method="POST">
                {% csrf_token %}
                <h2>Shipping Information:</h2>
                {% comment %} <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="username" placeholder="Name" value={{username}}>
                        <span class="error-message">{{error_message.username}}</span>
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email" value={{email}}>
                        <span class="error-message">{{error_message.email}}</span>
                    </div>
                </div> {% endcomment %}
                <div id="shipping-info">
                    <hr>
                    
                    <div class="form-field">
                        <div class="row mt-3"></div>
                        {% comment %} <input class="form-control" type="text" name="address" placeholder="Address" required value={{address}}> {% endcomment %}
                        {% comment %} {% for data in addobj %} {% endcomment %}
                        <div class="size-204 respon6-next">
                            <div class="rs1-select2 bor8 bg0" style="width:600px">
                                <select id="addressdropdown" name="address" class="js-select2"  value="">
                                    <option>Choose Address</option>
                                    {% for item in addressobj %}
                                    <option value="{{ item.id }}">
                                        {{ item.address }}, {{ item.city }}, {{ item.state }}, {{ item.country }}, {{ item.zipcode }}
                                    </option>
                                    {% endfor %}
                                    
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                        {% comment %} {% endfor %} {% endcomment %}
                        
                    </div>
                    <div class="row mt-4"></div>
                    <div style="display:flex; flex-direction:row">
                        <label>Note: Need to add new address? <a href="{% url 'userprofile' %}">Go to your profile </a>and update!</label>
                    
                    </div>
                    
                </div>
                
              
                {% comment %} <input name="addressbutton" id="form-button" class="btn btn-success btn-block" type="submit" value="Continue"> {% endcomment %}
           
        </div>
        <br>

        <div class="box-element" style="display:flex; flex-direction:row; margin-left:10px">
            <label style="margin-top:10px">Have coupon? <label>
                    <div class="form-field" style="display:flex; flex-direction:row">
                        <input type="text" class="form-control" name="coupon" placeholder="Coupon code" aria-label="Coupon code">

                        <button name="couponbutton" class="btn btn-outline-primary" type="submit" id="button-addon2" style="margin-left:5px">Apply</button> 
                    </div>
                    <br>
                   
                    <div style="display:flex; flex-direction:row">
                        <label>Coupon code:</label>
                        {% if cartobj.first.coupon %}
                            <a href="{% url 'remove_coupon' cartobj.first.coupon.id %}" class="btn btn-success" style="margin-left:5px">{{ cartobj.first.coupon.coupon_code }}</a>
                        {% else %}
                            <!-- Display a message if no coupon is applied -->
                            <span>No coupon applied</span>
                        {% endif %}
                    </div>
                    
                    
                    {{error_message.coupon}}
               
        </div>

        


        {% if success_message %}
        <div class="alert alert-success">
            {{ success_message }}
        </div>
        {% endif %}

        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

          <br>
        
            {% comment %} <div class="box-element" id="payment-info" style="text-align:center">
                <small>Payment Methods</small>
                <select class="custom-select" required>
                    <option selected>Cash on Delivery </option> {% endcomment %}
                    {% comment %} <option value="1">Cash on Delivery</option>
                    <option value="2">Pay Online</option> {% endcomment %}
{% comment %}                 
                </select>
                
                <input id="form-button" class="btn btn-success " type="submit" value="Confirm" action="{% url 'ordercomplete'%}">
            </div> {% endcomment %}
        
    </div>

    <div class="col-lg-6">
        <div class="box-element" >
            
            
            <h3>Order Summary</h3>
            <hr>
            {% for item in cartobj %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.variant.product.images.first.image.url }}"></div>
                <div style="flex:2"><p>{{item.variant.product.name}}</p></div>
                <div style="flex:2;">
                    {% for color in item.colors %}
                        {{ color.name }}
                    {% endfor %}
                </div>

                <div style="flex:2;">
                    {% for size in item.sizes %}
                        {{ size.name }}
                    {% endfor %}
                </div>
                <div style="flex:2"><p>${{item.variant.price}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}

            <br>

            <h5>Items: {{quantsum}}</h5>
            <h5>Total: $ <span id="totalamount"> {{total_price|floatformat:2}} </span> </h5>

            <br>
            
            <div>
                <button name="placeorder" class="btn btn-outline-primary" type="submit" id="button-addon2" style="margin-right: 5px;">Cash on Delivery</button>
                <button name="razorpaybutton" type="submit" class="btn btn-outline-success" id="rzp-button1">Pay with Razorpay</button>
            </div>
            
                </form>
        </div>
    </div>
</div>


<div class="row mt-5"></div>
<div class="row mt-5"></div>


 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
	"key": "{{api_key}}", // Enter the Key ID generated from the Dashboard
	"amount": "{{amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
	//"currency": "INR",
	"name": "PSYKICKS ",
	"description": "Test Transaction",
	//"image": "https://example.com/your_logo",
	"order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
	"handler": function (response){
		//alert(response.razorpay_payment_id);
		//alert(response.razorpay_order_id);
		//alert(response.razorpay_signature)

        $.ajax({
			url: '/razorupdateorder/', // Replace with the URL of your update order view
			method: 'GET',
			data: {
				paymentId: response.razorpay_payment_id,
				orderId: response.razorpay_order_id,
				addressval:$("#addressdropdown").val(),
				finalprice:$("#totalamount").text(),


				
			},
			success: function(data) {
				// Handle the response from the server
				// For example, you can display a success message or redirect to a new page
				//alert('Order updated successfully!');
				window.location.href = '../ordercomplete/';
			},
			error: function(error) {
				// Handle the error, if any
				// For example, you can display an error message or perform alternative actions
				alert('Error updating order: ' + error.message);
			}
		});
	},
	"prefill": {
	"name": "Hannah Elsa Joy",
	"email": "gaurav.kumar@example.com",
	"contact": "9000090000"
	},
	"notes": {
	  "address": "Razorpay Corporate Office"
	},
	"theme": {
		"color": "#3399cc"
	}
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
		//alert(response.error.code);
		alert(response.error.description);
		//alert(response.error.source);
		//alert(response.error.step);
		//alert(response.error.reason);
		//alert(response.error.metadata.order_id);
		//alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
	rzp1.open();
	e.preventDefault();
}
</script> 


{% endblock content %}