{% extends 'myapp/userindex.html' %}
{% load static %}
{% block content %}

<style>
    .error-message {
        color: red;
        font-size:12px;
      }
</style>

<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-3"></div>


<div class="row">
    <div class="col-lg-6">
       
        <div class="box-element" id="form-wrapper" style="margin-left:10px">
          
            <form id="form" method="POST">
                {% csrf_token %}
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="username" placeholder="Name" value={{username}}>
                        <span class="error-message">{{error_message.username}}</span>
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email" value={{email}}>
                        <span class="error-message">{{error_message.email}}</span>
                    </div>
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address" required value={{address}}>
                        <span class="error-message">{{error_message.address}}</span>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City" required value={{city}}>
                        <span class="error-message">{{error_message.city}}</span>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State" required value={{state}}>
                        <span class="error-message">{{error_message.state}}</span>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zipcode" required value={{zipcode}}>
                        <span class="error-message">{{error_message.zipcode}}</span>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country" required value={{country}}>
                        <span class="error-message">{{error_message.country}}</span>
                    </div>
                </div>
                
              
                <input name="addressbutton" id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
           
        </div>
        <br>

        <div class="box-element" style="display:flex; flex-direction:row" >
            <label style="margin-top:10px">Have coupon? <label>
                
                <!-- <form action="" method="POST"> -->
                    <div class="form-field" style="display:flex; flex-direction:row">
                        <input type="text" class="form-control" name="coupon" placeholder="Coupon code" aria-label="Coupon code">


                        <button name="couponbutton" class="btn btn-outline-primary" type="submit" id="button-addon2" style="margin-left:5px">Apply</button> 

                    </div>
                    <br>
                   
                    <div style="display:flex; flex-direction:row">
                        <label>Coupon code:</label>
                        {% if cartobj.first.coupon %}
                            <a href="{% url 'remove_coupon' cartobj.first.coupon.id %}" class="btn btn-success" style="margin-left:5px">{{ cartobj.first.coupon.coupon_code }}</a>
                        {% else %}
                            <!-- Display a message if no coupon is applied -->
                            <span>No coupon applied</span>
                        {% endif %}
                    </div>
                    
                    
                    {{error_message.coupon}}
                <!-- </form> -->
        </div>

        


        {% if success_message %}
        <div class="alert alert-success">
            {{ success_message }}
        </div>
        {% endif %}

        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

          <br>
        
            {% comment %} <div class="box-element" id="payment-info" style="text-align:center">
                <small>Payment Methods</small>
                <select class="custom-select" required>
                    <option selected>Cash on Delivery </option> {% endcomment %}
                    {% comment %} <option value="1">Cash on Delivery</option>
                    <option value="2">Pay Online</option> {% endcomment %}
{% comment %}                 
                </select>
                
                <input id="form-button" class="btn btn-success " type="submit" value="Confirm" action="{% url 'ordercomplete'%}">
            </div> {% endcomment %}
        </form>
    </div>

    <div class="col-lg-6">
        <div class="box-element" >
            <a class="btn btn-outline-dark" href="{% url 'usercart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in cartobj %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.product.images.first.image.url }}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:2"><p>${{item.product.price}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}

            <br>

            <h5>Items: {{quantsum}}</h5>
            <h5>Total: ${{total_price|floatformat:2}}</h5>

            <br>
            
                    <div>
                        
                        <button name="orderbutton" class="btn btn-outline-primary" type="submit" id="button-addon2" style="margin-left:5px">Place Order</button> 

                        <a class="btn btn-outline-dark" href="#">&#x2192;
                             Payment </a>
                    </div>
        </div>
    </div>
</div>

<div class="row mt-5"></div>
<div class="row mt-5"></div>


{% endblock content %}