{% extends 'myapp/userindex.html' %}
{% load static %}
{% block content %}
<div class="row mt-5"></div>
{% comment %} <div class="row mt-5"></div> {% endcomment %}

{% block style %}
<style>
.error-message{
	color:red;
	fon-szie:12px;
}
</style>
{% endblock style %}



<div class="bg0 m-t-23 p-b-140">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					All Products
				</button>

				{% for gender in gender %}
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
						<a href="?gender={{gender.name}}">{{gender.name}}</a>
					</button>
				{% endfor %}

			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					 Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>
			
			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<form action="" method="POST">
						{% csrf_token %}
						<input type="text" name="searchitem" id="navbar-search-input" placeholder="Search user" aria-label="search" style=" font-size:15px; border-radius:2" >
						<button type="submit" class="btn btn-primary mt-5" style="padding: 6px 15px; height:28px " >Search</button>
					</form>
				</div>	
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Default
								</a>
							</li>

							{% comment %} <li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Popularity
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Average rating
								</a>
							</li> {% endcomment %}

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									Newness
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Price: Low to High
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Price: High to Low
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									All
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$0.00 - $50.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$50.00 - $100.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$100.00 - $150.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$150.00 - $200.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$200.00+
								</a>
							</li>
						</ul>
					</div>

					
					<div class="filter-col3 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Size
						</div>

						<ul>
							{% for size in size %}
							<li class="p-b-6">
								<a href="?size={{size.name}}" class="filter-link stext-106 trans-04">
									{{size.name}}
								</a>
							</li>
							{% endfor %}
						
						</ul>
					</div>

					<div class="filter-col3 p-r-10 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Color
						</div>

						<ul>
							{% for color in colors %}
							<li class="p-b-6">
								<span class="fs-15 lh-12 m-r-6" style="color:{{color.name}}">
									<i class="zmdi zmdi-circle"></i>
								</span>

								<a href="?color={{color.name}}" class="filter-link stext-106 trans-04">
									{{color.name}}
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>

					<div class="filter-col3 p-r-10 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Brands
						</div>

						<ul>
							<a href="?brand=" class="filter-link stext-106 trans-04">
								All Brands
							</a>
							{% for brand in brand %}
							<li class="p-b-6">
								<a href="?brand={{ brand.name }}" class="filter-link stext-106 trans-04">
									{{brand.name}}
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>

					<div class="filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Types
						</div>

						<div class="flex-w p-t-4 m-r--5">

							<a href="?category=" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								All Types
							</a>
							{% for category in category.all %}
							<a href="?category={{ category.name }}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								{{category.name}}
							</a>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row isotope-grid">
			{% for i in datas %}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						{% if i.images.all %}
								{% with i.images.all|first as img %}
								<a href={% url 'user_pdetails' i.id %}>
							<img src="{{ img.image.url }}" alt="IMG-PRODUCT">
								</a>
								{% endwith %}
							{% endif %}

						
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{i.name}}
							</a>

							<span class="stext-105 cl3">
								{{i.price}}
							</span>

							{% comment %} <a href={% url 'pdetails' i.id %}>Quick view</a> {% endcomment %}
							
							<br><br>
							<span class="error-message">{{error_message.product}}</span>


							 <form method="POST" action="{% url 'addtocart' i.id %}"> 
								{% csrf_token %}
								
								<a class="btn btn-outline-primary" href={% url 'user_pdetails' i.id %} style="display:inline-block; ">View Product</a>
							</form>
							
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">
							{% comment %} js-addwish-b2 {% endcomment %}
							<a href="{% url 'addtolist' i.id %}" class="btn-addwish-b2 dis-block pos-relative">
								<img class="icon-heart1 dis-block trans-04" src="{% static 'myapp/images/icons/icon-heart-01.png'%}" alt="ICON">
								<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'myapp/images/icons/icon-heart-02.png'%}" alt="ICON">
							</a>
							
						</div>
						
					</div>
				</div>
			</div>

			{% endfor %}

			

		<!-- Load more -->
		{% comment %} <div class="flex-c-m flex-w w-full p-t-45">
			<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
				Load More
			</a>
		</div> {% endcomment %}
	</div>
</div>

<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
{% endblock content %}


{% block scripts %}
    <!-- Include jQuery library -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Add your custom script -->
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}



