{% extends 'myapp/userindex.html' %}
{% load static %}
{% block content %}
<div class="row mt-5"></div>
{% comment %} <div class="row mt-5"></div> {% endcomment %}


<style>
	{% block style %}
		.error-message{
			color:red;
			fon-szie:12px;
		}
	{% endblock style %}
</style>




<div class="bg0 m-t-23 ">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<a href="{% url 'userproduct' %}">

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>
				</a>
				

			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					 Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>
			
			<!-- Search product -->
			<style>
				form {
				  display: flex;
				  align-items: center;
				}
			  
				form input[type="text"],
				form button {
				  margin-right: 900px;
				  {% comment %} margin-bottom: 40px; {% endcomment %}
				}
			  
				form button {
				  padding: 6px 15px;
				  height: 38px;
				}
			  </style>

			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex p-l-15">
					

					<form action="" method="POST">
						{% csrf_token %}
						<div class="d-flex mt-3 mb-3">
							<input type="text" name="searchitem" id="navbar-search-input" placeholder="Search product?" aria-label="search" style="font-size: 15px; border-radius: 2px;">
							<button type="submit" class="btn ">
							<i class="zmdi zmdi-search"></i>
							</button>
						</div>
					</form>
				</div>	
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Default
								</a>
							</li>

							{% comment %} <li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Popularity
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Average rating
								</a>
							</li> {% endcomment %}

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									Newness
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Price: Low to High
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Price: High to Low
								</a>
							</li>
						</ul>
					</div>

					{% comment %} <div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									All
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$0.00 - $50.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$50.00 - $100.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$100.00 - $150.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$150.00 - $200.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$200.00+
								</a>
							</li>
						</ul>
					</div> {% endcomment %}

					
					{% comment %} <div class="filter-col3 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Size
						</div>

						<ul>
							{% for size in size %}
							<li class="p-b-6">
								<a href="?size={{size.name}}" class="filter-link stext-106 trans-04">
									{{size.name}}
								</a>
							</li>
							{% endfor %}
						
						</ul>
					</div> {% endcomment %}

					{% comment %} <div class="filter-col3 p-r-10 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Color
						</div>

						<ul>
							{% for color in colors %}
							<li class="p-b-6">
								<span class="fs-15 lh-12 m-r-6" style="color:{{color.name}}">
									<i class="zmdi zmdi-circle"></i>
								</span>

								<a href="?color={{color.name}}" class="filter-link stext-106 trans-04">
									{{color.name}}
								</a>
							</li>
							{% endfor %}
						</ul>
					</div> {% endcomment %}

					<div class="filter-col3 p-r-10 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Brands
						</div>

						<ul>
							<a href="?brand=" class="filter-link stext-106 trans-04">
								All Brands
							</a>
							{% for brand in brand %}
							<li class="p-b-6">
								<a href="?brand={{ brand.name }}" class="filter-link stext-106 trans-04">
									{{brand.name}}
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>

					<div class="filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Types
						</div>

						<div class="flex-w p-t-4 m-r--5">

							<a href="?category=" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								All Types
							</a>
							{% for category in category.all %}
							<a href="?category={{ category.name }}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								{{category.name}}
							</a>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>

		{% if success_message %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			{{ success_message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
	
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}
	{% endif %}
	
	
	<style>
		.block2-pic img {
		  width: 300px; /* Adjust the width to your desired size */
		  height: 300px; /* Adjust the height to your desired size */
		  object-fit: cover; /* Preserve the aspect ratio and crop if necessary */
		}
	  </style>
	  
	  <div class="row isotope-grid">
		{% for i in datas %}
		<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
		  <!-- Block2 -->
		  <div class="block2">
			<div class="block2-pic hov-img0">
			  {% if i.images.all %}
			  {% with i.images.all|first as img %}
			  <a href={% url 'user_pdetails' i.id %}>
				<img src="{{ img.image.url }}" alt="IMG-PRODUCT">
			  </a>
			  {% endwith %}
			  {% endif %}
			</div>
	  
			<div class="block2-txt flex-w flex-t p-t-14">
			  <div class="block2-txt-child1 flex-col-l">
				{% comment %} <a href="#" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"> {% endcomment %}
				  {{i.name}}
				{% comment %} </a> {% endcomment %}
	  
				<span class="stext-105 cl3">
				  {{i.brand}}
				</span>
	  
				{% comment %} <a href={% url 'pdetails' i.id %}>Quick view</a> {% endcomment %}
	  
				<br><br>
				<span class="error-message">{{error_message.product}}</span>
	  
	  
				<form method="POST" action="{% url 'addtocart' i.id %}">
				  {% csrf_token %}
	  
				  <a class="btn btn-outline-primary" href={% url 'user_pdetails' i.id %} style="display:inline-block; ">View Product</a>
				</form>
	  
			  </div>
	  
			  <div class="block2-txt-child2 flex-r p-t-3">
				{% comment %} js-addwish-b2 {% endcomment %}
				<a href="{% url 'addtolist' i.id %}" class="btn-addwish-b2 dis-block pos-relative">
				  <img class="icon-heart1 dis-block trans-04" src="{% static 'myapp/images/icons/icon-heart-01.png'%}" alt="ICON">
				  <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'myapp/images/icons/icon-heart-02.png'%}" alt="ICON">
				</a>
	  
			  </div>
	  
			</div>
		  </div>
		</div>
	  
		{% endfor %}
	  </div>
	  
	</div>


<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">

      {% if datas.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ datas.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}

      {% for i in datas.paginator.page_range %}
        {% if i == datas.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if datas.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ datas.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&gt;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ datas.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Last</span>
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
<div class="row mt-5"></div>

{% endblock content %}


{% block scripts %}
    <!-- Include jQuery library -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Add your custom script -->
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}



